:root {
  --color-primary-dark-cyan: #3c8067;
  --color-primary-dark-cream: #f2ebe3;
  --color-secondary-blue-dark: #1c232b;
  --color-secondary-grayish-blue: #6c7289;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-dark-cream);
  font-size: 1.4rem;
  font-family: "Fraunces", serif;
  font-weight: 500;
  color: var(--color-secondary-blue-dark);

  display: grid;
  grid-template-columns: 1fr 65rem 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.product {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.product .product__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product .product__details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  background-color: var(--color-white);
}

.product__category {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  color: var(--color-secondary-grayish-blue);
  transform: translateY(1.5rem);
}
.product__title {
  font-size: 3.8rem;
}
.product__description {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary-grayish-blue);
}
.product__pricing {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.product__pricing--sale {
  font-size: 3.8rem;
  color: var(--color-primary-dark-cyan);
}
.product__pricing--normal {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary-grayish-blue);
  text-decoration: line-through;
}

button {
  border: none;
  outline: none;
  background-color: var(--color-primary-dark-cyan);
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  padding: 1.6rem 0;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

button:hover {
  background-color: #17352a;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.75em) {
  body {
    grid-template-columns: 1fr minmax(30rem, 65rem) 1fr;
  }

  .product {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
    gap: 0;
  }
}
